:root {
    --color-blue: #336699;
    --color-red: #ff0033;

    --font: 'Lato', sans-serif;
    
}

body {
    font-family: var(--font);
}


.text-blue {
    color: var(--color-blue);
}
.text-red {
    color: var(--color-red);
    font-weight: 900;
}

.logo-menu {
    font-size: 1.6875rem;
    color: var(--color-red);
}

.navbar-toggler {
    box-shadow: none !important;
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover, .logo-menu:hover {
    color: var(--color-red);
}

/* .margin-menu {
    margin: 80px 0;
} */

textarea {
    resize: none;
    height: 160px;
}

.card{
    background-color: #ff0033;
}